@import "reset";
@import "fonts";
@import "vars";
@import "header/header.scss";
@import "promo/promo.scss";
@import "social/social.scss";

.container {
  width: 1200px;
  margin: 0 auto;
}

.selectCurrency {
  color: $colorWhite;
}

.tel {
  padding: 10px 0;
}

.text {
  color: $colorWhite;
  font-size: 11px;
  text-transform: uppercase;
}

.main-button {
  background: $lightOrange;
  border-bottom: 3px solid $colorOrange;
  cursor: pointer;
  text-transform: uppercase;
  color: $colorWhite;
  border-top: none;
  border-right: none;
  border-left: none;
  font-size: 16px;
  outline: none;
}

.main-button_big {
  padding: 16px 25px;
  margin-bottom: 80px;

  &:hover {
    background: #CC919D;
    border-bottom: 3px solid #FFBE83;
  }

  .main-button__text {
    display: block;
    padding-right: 25px;
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 10px;
      height: 10px;
      top: 3px;
      right: 0;
      background: url("../img/arrow-right.png") no-repeat center / cover;
      cursor: pointer;
    }
  }
}

.main-button_sm {
  display: inline-block;
  padding: 6px 8px;
  margin-left: -4px;
}









